<p>project-info-presentation works!</p>


<h3>Card View</h3>
<div class="flex flex-wrap">
    <!-- <div class="bg-metal flex p-2 m-4 rounded-2xl" *ngFor="let items of projectData, let i = index"> -->
    <!-- Flex Container -->
    <div class="flex flex-col rounded-l-xl">
        <div class="flex flex-col justify-evenly">
            <!-- Image -->
            <a routerLink="../info">
                <img src="assets/img/images/image3.jpg" alt="project avatar"
                    class="object-fit rounded-xl h-80 md:h-44  transform hover:scale-105 hover:rounded-xl duration-200" />
            </a>
            <!-- Content -->
            <div class="py-2 px-1 text-center">
                <!-- <a routerLink="../info">{{items.title}}</a> -->
            </div>
        </div>
        <div class="card-action-btn flex justify-end">
            <!-- <button type="button" (click)="onEdit(items.id)"
                    class="inline-block px-6 py-2.5 bg-transparent text-blue-500 font-medium text-xs leading-tight uppercase rounded border border-blue-500 hover:border-transparent hover:text-white hover:bg-blue-500 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out">Edit</button> -->
            <!-- <button type="button" (click)="onEdit(items.id)"
                    class="bg-transparent hover:bg-blue-500 text-blue-500 font-semibold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded active:shadow-lg transition duration-150 ease-in-out mx-2">Edit</button> -->
            <!-- <button type="button" (click)="onDelete(items.id)"
                    class="inline-block px-6 py-2.5 bg-red-600 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-red-700 hover:shadow-lg focus:bg-red-700 hover:border-0 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-red-800 active:shadow-lg transition duration-150 ease-in-out mx-2">Delete</button> -->
        </div>
    </div>
</div>
<!-- </div> -->